.container {
  position: relative;
  width: 1024px;
}

.modalButton {
  position: absolute;
  top: -15px;
  right: 0px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.modalLikesIcon {
  margin-right: 5px;
  fill: #f82828;
}
.modalCloseIcon {
  fill: #020202;
}
.description {
  width: 1000px;
  margin-bottom: 10px;
  color: black;
}
.wrapher {
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.authorWrapher {
  display: flex;
  flex-direction: column;
}
.authorInfo {
  display: flex;
  margin-top: 10px;
}

.authorImage {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid rgb(129, 129, 129);
  margin-right: 5px;
  overflow: hidden;
}
.author {
  margin: 5px 0px;
  color: black;
}

.location {
  margin: 0px 0px 5px 36px;
  color: black;
}

.likesWraper {
  margin-left: auto;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  color: black;
}
