.photo-card__link {
  display: flex;
  justify-content: stretch;
  text-decoration: none;
  color: white;
}

.photoCard {
  display: flex;
  flex-direction: column;

  background-color: #64635c;
  border-radius: 10px;
}

.photoCardImg {
  display: block;
  width: calc((100vw - 90px) / 4);
  height: calc((100vw - 90px) / 4 / 1.5);
  object-fit: cover;
  border-radius: 10px;
}
